<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>App Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Restaurante</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="list-formulario">
    <ion-item>
      <ion-label position="floating">Nombre del Plato</ion-label>
      <ion-input type="text" [(ngModel)]="newPersona.cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="text" [(ngModel)]="newPersona.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calificacion xd</ion-label>
      <ion-input type="text" [(ngModel)]="newPersona.apellido"></ion-input>
    </ion-item>
  </ion-list>
<br>
  <ion-list>
    <ion-item *ngFor="let p of Personas" >
      <ion-card>
        <img alt="{{p.cedula}}" src="https://www.elmueble.com/medio/2023/02/08/25-recetas-de-tupper-para-preparar-el-dia-antes_afc5e2b6_230208170301_900x900.jpg" />
        <ion-card-header>
          <ion-card-title>{{p.cedula}}</ion-card-title>
          <ion-card-subtitle>{{p.nombre}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          {{p.apellido}}  
          </ion-card-content>
      </ion-card>
      <ion-label>{{p.cedula}}</ion-label>
      <ion-label>{{p.nombre}}</ion-label>
      <ion-label>{{p.apellido}}</ion-label>
      <ion-button (click)="delete(p)" slot="end" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="save()" color="primary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

